<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Events</h1>

<h3>Please enter the required information below: </h3>

<form action="#" th:action="@{/event}" th:object="${eventDto}" method="post">

    <p>Name: <input  type="text" th:field="*{name}" /></p>

    <p>Date: <input type="date" th:field="*{date}" /></p>

    <p>Location: <input type="text" th:field="*{location}" /></p>

    <p>Organizer: <input type="text" th:field="*{organizer}" /></p>

    <p>Volunteers needed: <input type="number" th:field="*{noOfVolunteers}" /></p>

    <p>Category: <input type="text" th:field="*{category}" /></p>

    <!--<p><input type="submit" name = "save" value="Save event"  /></p>-->

    <p> <button name = "save" onclick="alert('Event successfully added to the system!')">Save</button> </p>

    <p><input type="submit" name = "email" value="Send email to subscribers" /></p>


</form>

</body>
</html>